html, body {
    font-family: 'Raleway';
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    min-width: 980px;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
}

#startPic {
    width: 100%;
    height: 100%;
}

#my-pic {
    width: 2048px;
    height: 1309px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -380px;
    margin-left: -1024px;
    z-index: 1;
}

#headline {
    top: 50%;
    left: 50%;
    margin-top: -380px;
    margin-left: -480px;
    display: block;
    position: absolute;
    z-index: 100;
    color: #444;
    font-size: 2.5em;
}

.xtarget:target { 
    color:#2bbbb3; 
    margin-top: -12px; 
    padding-top: 60px; 
}

#down-btn {
    display: block;
    position: fixed;
    font-size: 6em;
    z-index: 99;
    color: white;
    bottom: 0;
    left: 50%;
}

#sidebar {
    display: block;
    position: absolute;
    float: left;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border-color: #333;
    border-style: solid;
    border-width: thin;
    z-index: 111;
}

#sidebar h3 {
    padding-left: 10px;
    padding-bottom: 30px;
    letter-spacing: 3px;
}

#sidebar ul li, #sidebar ul li a{
    padding-bottom: 35px;
    text-decoration: none;
    color: #333;
}

#sidebar ul li a:hover {
    color: lightcoral;
}

.info-block {
    background-color: white;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 250px;
    position: relative;
    z-index: 85;
}

.info-head {
    letter-spacing: 5px;
}

/**************** experimental ********/

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/************** old sidebar *******
#sidebar{
    height: 100%;
    width: 320px;
    position: fixed;
    display: none;
}

#window {
    top: 0 !important;
    float: left;
    width: 300px;
    height: 300px;
    position: fixed;
}

#navSign{
    position: fixed;
    float: left;
    width: 300px;
    padding-top: 350px;
}

td {
    text-align: center;
    padding: 15px;
}

td button a {
    color: white;
    text-decoration: none;
}

.buttonSign {
    font-family: 'Raleway';
    font-size: 1em;
    color: white;
    background: url("img/wood-sign.jpg") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: antiquewhite;
    border: none;
    cursor: pointer;
}

#homeBtn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

#aboutBtn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

#expBtn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
}

#contactBtn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 90px;
    padding-right: 90px;
}

*/